In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import re

<ul>
<li> Substantiated : means there is sufficient credible evidence to believe that the subject officer committed the alleged act without legal justification. Substantiated cases are sent to the police department with a disciplinary recommendation.
<li>Within NYPD Guidelines : means the subject officer was found to have committed the act alleged, but the officer’s actions were determined to be lawful.
<li>Unfounded : means there is sufficient credible evidence to believe that the subject officer did not commit the alleged act.
Other Findings reflect the board’s decision that there isn’t enough evidence to determine whether or not what the officer did was wrong.

<li>Unable to Determine: means the available evidence is insufficient to determine whether the officer did or did not commit misconduct.
<li>Officer(s) Unidentified: means the agency was unable to identify the officers who committed the alleged misconduct.
<li>Miscellaneous: most of the time this means that the subject officer is no longer a member of the NYPD.
</ul>


source: https://www1.nyc.gov/site/ccrb/investigations/case-outcomes.page 

"The CCRB receives thousands of complaints every year, but it is only able to substantiate a tiny fraction of them. In 2018, the agency examined about 3,000 allegations of misuse of force. It substantiated 73."

source: https://projects.propublica.org/nypd-ccrb/officer/8397-michael-gonzalez

In [2]:
path = "/Users/jenifervivar/Desktop/Personal_projects/Police_profiles/Data/records.csv"
p_off = "/Users/jenifervivar/Desktop/Personal_projects/Police_profiles/Data/officers.csv"
p_r = "/Users/jenifervivar/Desktop/Personal_projects/Police_profiles/Data/ranks.csv"
police_ranks = pd.read_csv(p_r)

In [3]:
officers_info = pd.read_csv(p_off)
officers_info["assignment_date"] = pd.to_datetime(officers_info["assignment_date"], infer_datetime_format = True)
officers_info.drop(columns = ["full_name"], inplace = True)
officers_info["full_name"] = officers_info[["last_name", "first_name"]].apply(lambda x: re.sub(' +', ' ', ' '.join(x)), axis=1)
officers_info.drop(columns = ["last_name",	"first_name", "middle_initial"], inplace = True)
#officers_info.set_index('officer_id', drop = True, inplace = True)
officers_info.head(-1)

,officer_id,command,rank,shield_no,appt_date,recognition_count,arrest_count,ethnicity,assignment_date,arrests_infraction,arrests_misdemeanor,arrests_felony,arrests_violation,arrests_other,timestamp: 2022-08-29,full_name
0,933588,DEPT OF INVESTIGATION SQUAD,DETECTIVE 3RD GRADE,2442.0,1/20/2004,2,390,WHITE,2017-10-13,1.0,255.0,128.0,4.0,2.0,NaN,AANONSEN LORI
1,959433,047 PRECINCT,POLICE OFFICER,19427.0,10/7/2015,0,82,WHITE,2016-11-18,NaN,56.0,20.0,6.0,NaN,NaN,AANOUZ ABDELHADI
2,941300,STRATEGIC RESP GRP 1 MANHATTAN,POLICE OFFICER,44.0,7/10/2006,5,147,HISPANIC,2021-09-16,1.0,92.0,23.0,31.0,NaN,NaN,AARONSON JACOB
3,972490,MILITARY & EXTENDED LEAVE DESK,POLICE OFFICER,5985.0,10/12/2021,0,0,HISPANIC,2022-06-14,NaN,NaN,NaN,NaN,NaN,NaN,ABAD BRENDALIZ
4,932231,100 PCT ROCKAWAY BEACH DETAIL,POLICE OFFICER,318.0,7/1/2003,2,264,BLACK,2022-05-23,NaN,205.0,59.0,NaN,NaN,NaN,ABADIA DAVID
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32796,972330,104 PRECINCT,POLICE OFFICER,18425.0,7/7/2021,0,15,WHITE,2021-12-30,NaN,11.0,4.0,NaN,NaN,NaN,ZUZZOLO ANTHONY
32797,940893,100TH DET SQUAD,DETECTIVE 3RD GRADE,6559.0,1/9/2006,22,1000,WHITE,2020-02-14,2.0,502.0,496.0,NaN,NaN,NaN,ZVONIK JOSEPH
32798,954443,079 PRECINCT,POLICE OFFICER,30494.0,1/9/2013,0,46,WHITE,2015-07-13,7.0,27.0,7.0,5.0,NaN,NaN,ZVONIK SERGEY
32799,933512,076 PRECINCT,LIEUTENANT,NaN,7/1/2003,34,128,WHITE,2021-05-17,NaN,65.0,2.0,61.0,NaN,NaN,ZWEBEN HOWARD
32800,961483,INTEL CIS FIO PROGRAM,POLICE OFFICER,14406.0,1/6/2016,29,124,WHITE,2022-02-15,NaN,52.0,67.0,4.0,1.0,NaN,ZWEIFLER MICHAEL

In [14]:
officers_info.to_csv("/Users/jenifervivar/Documents/GitHub/NYC_Police_Records/Data/officers_info", index = True)

In [4]:
officers_info["ethnicity"].value_counts()

WHITE              14457
HISPANIC            9964
BLACK               5018
ASIAN               3334
NATIVE AMERICAN       27
Name: ethnicity, dtype: int64

In [5]:
officers_info.dtypes

officer_id                        int64
command                          object
rank                             object
shield_no                       float64
appt_date                        object
recognition_count                 int64
arrest_count                      int64
ethnicity                        object
assignment_date          datetime64[ns]
arrests_infraction              float64
arrests_misdemeanor             float64
arrests_felony                  float64
arrests_violation               float64
arrests_other                   float64
timestamp: 2022-08-29           float64
full_name                        object
dtype: object

In [6]:
complaints = pd.read_csv(path)
complaints["complaint_date"] = pd.to_datetime(complaints["complaint_date"], infer_datetime_format = True)
complaints["full_name"] = complaints[["last_name", "first_name"]].apply(lambda x: re.sub(' +', ' ', ' '.join(x)), axis=1)
complaints.drop(columns = ["last_name",	"first_name"], inplace = True)
#complaints.set_index("officer_id", drop = True, inplace=True)
complaints.head()

,officer_id,command,rank,shield_no,active,complaint_id,complaint_date,fado_type,allegation,board_disposition,nypd_disposition,penalty_desc,timestamp: 2022-08-28,full_name
0,31038,114 PCT,Police Officer,4439,False,200000003,2000-01-01,Abuse of Authority,Frisk and/or search,Substantiated (Command Discipline),NaN,NaN,NaN,WRIGHT CURTIS
1,31038,114 PCT,Police Officer,4439,False,200000003,2000-01-01,Abuse of Authority,Refusal to provide name/shield number,Substantiated (Command Discipline),NaN,NaN,NaN,WRIGHT CURTIS
2,31038,114 PCT,Police Officer,4439,False,200000003,2000-01-01,Force,Physical force,Substantiated (Command Discipline),NaN,NaN,NaN,WRIGHT CURTIS
3,55495,MED DIV,Police Officer,10384,False,200000003,2000-01-01,Abuse of Authority,Threat of force (verbal or physical),Substantiated (Command Discipline),NaN,NaN,NaN,RHODEN KYLE
4,55495,MED DIV,Police Officer,10384,False,200000003,2000-01-01,Force,Physical force,Substantiated (Command Discipline),NaN,NaN,NaN,RHODEN KYLE

In [13]:
complaints.to_csv("/Users/jenifervivar/Documents/GitHub/NYC_Police_Records/Data/complaintsData", index = True)

In [7]:
complaints.dtypes

officer_id                        int64
command                          object
rank                             object
shield_no                         int64
active                             bool
complaint_id                      int64
complaint_date           datetime64[ns]
fado_type                        object
allegation                       object
board_disposition                object
nypd_disposition                 object
penalty_desc                     object
timestamp: 2022-08-28           float64
full_name                        object
dtype: object

In [8]:
complaints["full_name"].value_counts()

MARTINEZ ROBERT     120
GONZALEZ MICHAEL    118
DYM ERIC            115
REICH MATHEW        104
GRIECO DAVID         98
                   ...
RIVERA YAHAIRA        1
BOAKYE OSBERT         1
LEE MOSES             1
KIM JAMES             1
CASSIDY PATRICK       1
Name: full_name, Length: 34904, dtype: int64

In [9]:
result = complaints.merge(officers_info, left_on ="full_name", right_on="full_name" )
result.head()

,officer_id_x,command_x,rank_x,shield_no_x,active,complaint_id,complaint_date,fado_type,allegation,board_disposition,...,recognition_count,arrest_count,ethnicity,assignment_date,arrests_infraction,arrests_misdemeanor,arrests_felony,arrests_violation,arrests_other,timestamp: 2022-08-29
0,86092,WARRSEC,Lieutenant,0,True,200000006,2000-01-01,Discourtesy,Word,Unfounded,...,154,147,WHITE,2017-05-26,NaN,41.0,103.0,3.0,NaN,NaN
1,86092,WARRSEC,Lieutenant,0,True,200000006,2000-01-01,Offensive Language,Race,Unfounded,...,154,147,WHITE,2017-05-26,NaN,41.0,103.0,3.0,NaN,NaN
2,86092,WARRSEC,Lieutenant,0,True,200006136,2000-08-12,Force,Physical force,Exonerated,...,154,147,WHITE,2017-05-26,NaN,41.0,103.0,3.0,NaN,NaN
3,86092,WARRSEC,Lieutenant,0,True,200101180,2001-02-18,Force,Physical force,Exonerated,...,154,147,WHITE,2017-05-26,NaN,41.0,103.0,3.0,NaN,NaN
4,86092,WARRSEC,Lieutenant,0,True,200101180,2001-02-18,Force,Physical force,Exonerated,...,154,147,WHITE,2017-05-26,NaN,41.0,103.0,3.0,NaN,NaN

In [15]:
len(result)

130374

In [16]:
result.to_csv("/Users/jenifervivar/Documents/GitHub/NYC_Police_Records/Data/compla_officer_combined", index = True)

In [10]:
result.columns

Index(['officer_id_x', 'command_x', 'rank_x', 'shield_no_x', 'active',
       'complaint_id', 'complaint_date', 'fado_type', 'allegation',
       'board_disposition', 'nypd_disposition', 'penalty_desc',
       'timestamp: 2022-08-28', 'full_name', 'officer_id_y', 'command_y',
       'rank_y', 'shield_no_y', 'appt_date', 'recognition_count',
       'arrest_count', 'ethnicity', 'assignment_date', 'arrests_infraction',
       'arrests_misdemeanor', 'arrests_felony', 'arrests_violation',
       'arrests_other', 'timestamp: 2022-08-29'],
      dtype='object')

In [11]:
result[["full_name",'arrest_count']].value_counts()

full_name             arrest_count
GONZALEZ MICHAEL      15              118
                      1026            118
                      89              118
                      334             118
                      502             118
                                     ...
GLORAGILLE ALBERTINA  82                1
ROBINSON NATALIE      131               1
ROBINSON MICHAEL      86                1
                      48                1
HUDA SYED             82                1
Length: 18833, dtype: int64